{% extends 'navbar.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <title> Secure thoughts | Create thought </title>

    <br>

    <div class ="container bg-white shadow-md p-5 form-layout">
        <h3> Create a thought </h3>
        <form method="POST" autocomplete="off">

            {% csrf_token %}

            {{CreateThoughtForm|crispy}}
            <br>

            <button type="submit" class="btn btn-info btn-log w-100 btn-block p-3"> Create thought </button>

        </form>

    </div>

{%  endblock %}