{% load static %}
{% block content %}
<html lang="en">
    <title> Secure thoughts | Homepage </title>


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-center">

    <a class="navbar-brand main-heading" href="{% url 'dashboard' %}"> &nbsp;Secure thoughts </a>

    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>

</button>


    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">

    <ul class="navbar-nav ms-auto">

        <li class="nav-item">
    
        <a class="btn btn-alert navbar-btn" type="button" href="{% url 'register' %}">Register</a>

        </li>
   

        <li class="nav-item">

        <a class="btn btn-alert navbar-btn" type="button" size="60"  href="{% url 'my-login' %}">Login</a>

        </li>
      

    </ul>
    
    
    </div>


</nav>



<body style="background-color: #f0f0f0;">
    <br>

    <br>

    <div class="text-center">

    
        <img src="{% static 'images/imagination.png' %}" alt="My image" style="height: 100px; width: 100px;">

    <br>
    <br>

    <h3> Secure thoughts... </h3>

        <br>

        <p> This is a place where your thoughts are kept in secret. </p>

        <br>
        
    
        <a class="btn btn-info" type="button"  href="{% url 'register' %}"> <i class="fa fa-user" aria-hidden="true"></i> &nbsp; Make an account </a>

    
    </div>

</body>

{% endblock %}
</html>

{#<footer class="navbar navbar-expand-lg navbar-light bg-white">#}
{##}
{##}
{#    <a class="btn btn-alert p-2" type="button"  href="{% url '' %}"> <i class="fa fa-key" aria-hidden="true"></i> &nbsp; Password management </a>#}
{##}
{##}
{#</footer>#}
{#{% endblock %}#}