{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <br>
    <div class ="container bg-white shadow-md p-5 form-layout">
    <title> Secure thoughts | Password resset complete </title>

    <h3> Password reset complete </h3>
    <p> Your password has been set.
        Now you can login to your Secure Thoughts account.
    </p>
    <a class="btn btn-info btn-log w-100 btn-block p-3" href="{% url 'my-login' %}"> Login page </a>

    </div>
</html>